In [3]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('data.csv')

print("Dataset Overview:")
print(df.info())
print("\nFirst 5 rows:")
print(df.head())  
print("\nSummary Statistics:")
print(df.describe(include='all'))
print("\nMissing Values per Column:")
print(df.isnull().sum()) 
print("\nUnique Values per Column:")
print(df.nunique())

,id,gender,age,county,ptb,remarks
0,1000,male,31,Shenxhen,0,normal
1,1001,male,64,Shenxhen,0,normal
2,1002,male,35,Shenxhen,0,normal
3,1003,male,32,Shenxhen,1,"STB,ATB,tuberculosis pleuritis"
4,1004,male,2,Shenxhen,1,secondary PTB in the bilateral upper field
...,...,...,...,...,...,...
699,1699,M,047,Montgomery,1,persistent rt pleural peel with some interval ...
700,1700,F,030,Montgomery,0,normal
701,1701,F,044,Montgomery,0,normal
702,1702,F,030,Montgomery,1,left pleural effusion; best seen on lateral vi...
703,1703,F,045,Montgomery,0,normal